@import url(./font.css);
@import url(./reset.css);
body {
  background-color: #f8f8f8;
}

.header {
  height: 120px;
  display: flex;
  align-items: center;
}

.wrapper {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.header__wrapper {
  justify-content: space-between;
}

.header__header-nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-nav__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.header__header-form {
  position: relative;
  display: flex;
  align-items: center;
}

.header-form__input {
  width: 300px;
  height: 43px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  z-index: -1;
}

.header-form__btn {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.header__haeder-social {
  display: flex;
  align-items: center;
  gap: 10px;
}

.haeder-social__links {
  width: 55px;
  height: 57px;
  display: grid;
  grid-template-columns: 25px 25px;
  justify-content: space-between;
}

.haeder-social__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.haeder-social__header-contacts {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 13px;
}

.header-contacts__tel {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000000;
}

.header-contacts__tel-btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #000000;
}

.main {
  height: 980px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/img/404-bg.jpg);
  background-repeat: no-repeat;
}

.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.promo__heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 400px;
  letter-spacing: -0.1em;
  color: #ffffff;
}

.promo__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.promo__link {
  margin-top: 24px;
  padding: 14px 36px;
  background: #e17d21;
  border-radius: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.footer {
  width: 100%;
  height: 500px;
  background: #191a19;
}

.footer__wrapper {
  padding-top: 88px;
  justify-content: space-around;
}

.footer__list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}

.footer__list-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;
}

.footer__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__subheading {
  font-family: "Rounded Elegance";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 57px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__box-text {
  margin-top: 31px;
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer__box-link {
  margin-top: 72px;
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.02em;
  text-decoration-line: underline;
  color: #ffffff;
}

.footer__column {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.footer__search {
  width: 300px;
  height: 43px;
  position: relative;
}

.footer__search-input {
  width: 100%;
  height: 100%;
  border: 1px solid #ffffff;
  border-radius: 10px;
  z-index: -1;
}

.footer__search-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 100;
}

.footer__contact {
  margin-top: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.footer__social {
  width: 55px;
  height: 55px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.footer__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__contact-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.footer__contact-tel {
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: white;
}

.footer__contact-btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: white;
}/*# sourceMappingURL=style.css.map */